{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "airbnb-typescript/base",
        "airbnb/hooks",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "prettier"],
    "settings": {
        "import/resolver": {
            "typescript": {
                "project": "."
            }
        },
        "react": {
            "version": "latest"
        }
    },
    "rules": {
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal", ["sibling", "parent"]],
                "newlines-between": "always"
            }
        ],
        "import/prefer-default-export": "off",
        "@typescript-eslint/indent": "off",
        "new-cap": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/require-default-props": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/quotes": "off",
        "react/jsx-indent": "off",
        "no-underscore-dangle": "warn",
        "react/jsx-indent-props": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],
        "prettier/prettier": ["error"]
    },
    "globals": {
        "React": "readonly"
    }
}
